/* .progress{
    background: url('../../assets/cloud.jpg') center center / cover no-repeat;
} */

 .card {
    height: 254px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
               padding: 15px;
  }

  .calendar {
    border-radius: 30px;
    background: #e0e0e03f;
    box-shadow: 15px 15px 30px #bebebe49,
               -15px -15px 30px #ffffffa6;
               
  }